.demo-cube {
  @apply w-full h-full;
}

.demo-cube-h10 {
  @apply h-10;
}

.demo-cube-h14 {
  @apply h-14;
}

.demo-cube-h52 {
  @apply h-52;
}

.demo-cube-h60 {
  @apply h-60;
}

.demo-cube-w10 {
  @apply w-10;
}

.demo-cube-w14 {
  @apply w-14;
}

.demo-cube-w24 {
  @apply w-24;
}

.demo-cube-w52 {
  @apply w-52;
}

.demo-cube-no-shrink {
  @apply flex-shrink-0;
}

.demo-cube-a,
.demo-cube-b,
.demo-cube-c,
.demo-cube-d,
.demo-cube-num {
  @apply flex items-center justify-center;
  @apply text-sm font-medium;
}

.demo-cube-a::after {
  @apply block;
  content: "A";
}

.demo-cube-b::after {
  @apply block;
  content: "B";
}

.demo-cube-c::after {
  @apply block;
  content: "C";
}

.demo-cube-d::after {
  @apply block;
  content: "D";
}

.vscode-dark {
  & .demo-cube-a {
    background-color: #2A2438;
  }

  & .demo-cube-b {
    background-color: #59405C;
  }

  & .demo-cube-c {
    background-color: #322F3D;
  }

  & .demo-cube-d {
    background-color: #4B5D67;
  }

  & .demo-cube-num {
    background-color: #4B5D67;
  }
}

.vscode-light {
  & .demo-cube-a {
    background-color: #F3ECB8;
  }

  & .demo-cube-b {
    background-color: #F5CAB3;
  }

  & .demo-cube-c {
    background-color: #A8D3DA;
  }

  & .demo-cube-d {
    background-color: #B590CA;
  }

  & .demo-cube-num {
    background-color: #B590CA;
  }
}
