.demo-header {
  background-color: var(--vscode-sideBar-background);
  padding: 0.625rem 1.25rem;
}

.demo-header__logo {
  @apply uppercase whitespace-nowrap;
}

.demo-header__logo a:hover {
  color: inherit;
}

.demo-header__nav {
  @apply whitespace-nowrap;
}

.demo-header__nav a {
  @apply inline-block whitespace-nowrap ml-3;
}

@screen sm {
  .demo-header__nav a {
    @apply ml-5;
  }
}
