.demo-header {
  background-color: var(--vscode-menu-background);
  padding: 0.625rem 1.25rem;
}

.demo-header__logo {
  @apply uppercase;
}

.demo-header__logo a:hover {
  color: inherit;
}

.demo-header__nav a {
  @apply inline-block whitespace-nowrap ml-5;
}
