:root {
  /* common */
  --v-foreground: #cccccc;

  /* border */
  --v-focus-border: #007fd4;

  /* input */
  --v-input-placeholder-foreground: #a6a6a6;
  --v-input-background: #3c3c3c;
  --v-input-foreground: #cccccc;

  /* shadow */
  --v-shadow-100: #000000;
  --v-shadow-50: #00000080;
  --v-shadow-30: #0000004D;

  /* action bar */
  --v-action-bar-background: #252526;
  --v-action-bar-border: #000000;
  --v-action-bar-active-background: #4a4a4a;
  --v-action-bar-active-foreground: #ffffff;
  --v-action-bar-inactive-background: #333333;
  --v-action-bar-inactive-foreground: #ffffff;
  --v-action-bar-disabled-foreground: #ffffff66;

  /* tabs */
  --v-tab-background: #252526;
  --v-tab-inactive-background: #2D2D2D;
  --v-tab-inactive-foreground: #ffffff80;
  --v-tab-active-background: #1E1E1E;
  --v-tab-active-foreground: #FFFFFF;
  --v-tab-border: #252526;

  /* sidebar */
  --v-side-bar-background: #252526;
  --v-side-bar-section-header-border: #cccccc33;
  --v-side-bar-title-foreground: #bbbbbb;
  --v-side-bar-border: #000000;

  /* list */
  --v-list-active-selection-background: #094771;
  --v-list-active-selection-foreground: #ffffff;
  --v-list-inactive-selection-background: #37373d;
  --v-list-inactive-foreground: #cccccc;
  --v-list-hover-background: #2a2d2e;
  --v-list-focus-background: #062f4a;

  /* scrollbar */
  --v-scroll-hover-foreground: #cccccc33;

  /* graph */
  --v-graph-background: #1E1E1E;
  --v-graph-foreground: #D4D4D4;
  --v-graph-round-border: #4C4F53;
  --v-graph-error-background: #810B07;
  --v-graph-node-background: #414141;
  --v-graph-node-header-background: #4C4F53;
  --v-graph-node-header-blue-background: #3A68A1;
  --v-graph-node-header-green-background: #247939;
  --v-graph-node-border: #754A4A;
  --v-graph-active-port-backgound: #82801A;
  --v-graph-inactive-port-backgound: #4C4F53;
  --v-graph-inactive-port-border: #D4D4D4;
  --v-graph-link-active-port-backgound: #D4D4D4;
  --v-graph-connection-background: #414141;

  /* link */
  --v-link-control-backgound: #007fd4;

  /* fieldset */
  --v-fieldset-border: #cccccc33;
  --v-fieldset-title-foreground: #bbbbbb;

  /* button */
  --v-button-foreground: #ffffff;
  --v-button-background: #0e639c;
  --v-button-hover-background: #1177bb;
  --v-button-secondary-foreground: #ffffff;
  --v-button-secondary-background: #3a3d41;
  --v-button-secondary-hover-background: #45494e;

  /* dropdown */
  --v-dropdown-background: #3c3c3c;
  --v-dropdown-foreground: #f0f0f0;
  --v-dropdown-border: #3c3c3c;

  /* suggest */
  --v-suggest-background: #252526;
  --v-suggest-border: #454545;
  --v-suggest-foreground: #d4d4d4;

  /* checkbox */
  --v-checkbox-background: #3c3c3c;
  --v-checkbox-border: #3c3c3c;
  --v-checkbox-foreground: #f0f0f0;
}
