:root {
  /* window */
  --window-background: #171717;

  /* common */
  --background: #1E1E1E;
  --foreground: #cccccc;

  /* border */
  --focus-border: #007fd4;

  /* input */
  --input-placeholder-foreground: #a6a6a6;
  --input-background: #3c3c3c;
  --input-foreground: #cccccc;

  /* shadow */
  --shadow-100: #000000;
  --shadow-50: #00000080;
  --shadow-30: #0000004D;

  /* action bar */
  --action-bar-background: #252526;
  --action-bar-border: #000000;
  --action-bar-active-background: #4a4a4a;
  --action-bar-active-foreground: #ffffff;
  --action-bar-inactive-background: #333333;
  --action-bar-inactive-foreground: #ffffff;
  --action-bar-disabled-foreground: #ffffff66;

  /* tabs */
  --tab-background: #252526;
  --tab-inactive-background: #2D2D2D;
  --tab-inactive-foreground: #ffffff80;
  --tab-active-background: #1E1E1E;
  --tab-active-foreground: #FFFFFF;
  --tab-border: #252526;

  /* sidebar */
  --side-bar-background: #252526;
  --side-bar-section-header-border: #cccccc33;
  --side-bar-title-foreground: #bbbbbb;
  --side-bar-border: #000000;

  /* list */
  --list-hover-background: #2a2d2e;
  --list-active-selection-background: #094771;
  --list-active-selection-foreground: #ffffff;
  --list-inactive-selection-background: #37373d;
  --list-inactive-foreground: #cccccc;

  /* scrollbar */
  --scroll-hover-foreground: #cccccc33;

  /* graph */
  --graph-background: #1E1E1E;
  --graph-foreground: #D4D4D4;
  --graph-round-border: #4C4F53;
  --graph-error-background: #810B07;
  --graph-node-background: #414141;
  --graph-node-header-background: #4C4F53;
  --graph-node-header-blue-background: #3A68A1;
  --graph-node-header-green-background: #247939;
  --graph-node-border: #754A4A;
  --graph-active-port-backgound: #82801A;
  --graph-inactive-port-backgound: #4C4F53;
  --graph-inactive-port-border: #D4D4D4;
  --graph-link-active-port-backgound: #D4D4D4;
  --graph-connection-background: #414141;

  /* link */
  --link-control-backgound: #007fd4;

  /* fieldset */
  --fieldset-border: #cccccc33;
  --fieldset-title-foreground: #bbbbbb;

  /* button */
  --button-foreground: #ffffff;
  --button-background: #0e639c;
  --button-hover-background: #1177bb;
  --button-secondary-foreground: #ffffff;
  --button-secondary-background: #3a3d41;
  --button-secondary-hover-background: #45494e;

  /* dropdown */
  --dropdown-background: #3c3c3c;
  --dropdown-foreground: #f0f0f0;
  --dropdown-border: #3c3c3c;
}
