:root {
  /* input */
  --input-placeholder-foreground: #a6a6a6;
  --input-background: #3c3c3c;
  --input-foreground: #cccccc;

  /* border */
  --focus-border: #007fd4;

  /* window */
  --window-background: #171717;

  /* common */
  --foreground: #cccccc;

  /* action bar */
  --action-bar-background: #252526;
  --action-bar-border: #000000;
  --action-bar-active-background: #4a4a4a;
  --action-bar-active-foreground: #ffffff;
  --action-bar-inactive-background: #333333;
  --action-bar-inactive-foreground: #ffffff;
  --action-bar-disabled-foreground: #ffffff66;

  /* tabs */
  --tab-background: #252526;
  --tab-inactive-background: #2D2D2D;
  --tab-inactive-foreground: #ffffff80;
  --tab-active-background: #1E1E1E;
  --tab-active-foreground: #FFFFFF;
  --tab-border: #252526;

  /* sidebar */
  --side-bar-background: #252526;
  --side-bar-section-header-border: #cccccc33;
  --side-bar-title-foreground: #bbbbbb;

  /* list */
  --list-hover-background: #2a2d2e;
  --list-active-selection-background: #094771;
  --list-active-selection-foreground: #ffffff;
  --list-inactive-selection-background: #37373d;
  --list-inactive-foreground: #cccccc;

  /* scrollbar */
  --scroll-hover-foreground: #cccccc33;
}
